.logo {
    border: solid 5px $color3;
    height: 100px;
    width: 200px;
    display: flex;
    font-size: 3rem;
    line-height: 1;
    align-items: center;
    justify-content: center;
    font-family: 'Eagle Lake', cursive;


    a {
        transform: rotate(10deg);
        text-decoration: none;
        color: $color2;
    }
}

.info-area {
    padding: 56px;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    .info-box {
        position: absolute;
        bottom: 60px;

        h4 {
            font-size: 1.2rem;
            color: $color3;
            margin: 0.7rem 0;
        }

        p {
            font-size: 0.9rem;
            font-weight: 300;
            color: $color3;
            margin: 0.7rem 0 1.6rem;
        }
    }

    .icon-area {
        a {
            color: $color3;
            text-decoration: none;
            font-size: 1.5rem;
            padding: 0 5px;

            &:hover {
                color: $hoverLink;
            }

            &:first-child {
                padding: 0 5px 0 0;
            }
        }
    }
}
