.portfolio {

    .info-area {
        width: 20%;
    }

    .content-area {
        margin-left: 20%;
        background: $color3;
        width: 80%;
        height: 100%;
        padding: 56px;
        overflow-y: scroll;

        .project-section {
            margin-bottom: 56px;

            h1 {
                font-weight: 700;
                font-size: 2rem;
                text-transform: uppercase;
                margin-bottom: 56px;
            }

            .project-container {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .project-card-1 {
                    position:relative;
                    background: url(../img/wanderlust.png) no-repeat center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    height: 400px;
                    padding: 30px;
                    transition: all .5s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        -webkit-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        -moz-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                    }

                    .grey-bg {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: #efefef;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        overflow: hidden;

                        &:hover {
                            opacity: 0.9;
                            .project-info {

                                .project-detail {
                                    transform: translate3d(0,0,0);
                                    opacity: 1;
                                }

                                .project-title {
                                    transform: translate3d(0,0,0);
                                    opacity: 1;
                                }
                            }
                        }

                        .project-info {
                            padding: 56px;
                            position: absolute;
                            bottom: 0;
                            width: 100%;

                            .project-detail {
                                position: relative;
                                font-size: 1.1rem;
                                text-transform: capitalize;
                                margin: 0 0 1rem;
                                transform: translate3d(-200px,0,0);
                                opacity: 0;
                                transition: all .3s ease-in-out;
                            }

                            .project-title {
                                position: relative; //this was put there because i did not put any details
                                font-size: 1.8rem;
                                text-transform: uppercase;
                                font-weight: 700;
                                transform: translate3d(-100px,0,0);
                                opacity: 0;
                                transition: all .3s ease-in-out .1s;
                            }
                            .fa-long-arrow-alt-right {
                                position: absolute;
                                bottom: 56px;
                                right: 56px;
                                font-size: 3rem;
                            }
                        }

                    }
                }
                .project-card-2 {
                    position:relative;
                    background: url(../img/backcountrytrails.png) no-repeat center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    height: 400px;
                    padding: 30px;
                    transition: all .5s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        -webkit-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        -moz-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                    }

                    .grey-bg {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: #efefef;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        overflow: hidden;

                        &:hover {
                            opacity: 0.9;
                            .project-info {

                                .project-detail {
                                    transform: translate3d(0,0,0);
                                    opacity: 1;
                                }

                                .project-title {
                                    transform: translate3d(0,0,0);
                                    opacity: 1;
                                }
                            }
                        }

                        .project-info {
                            padding: 56px;
                            position: absolute;
                            bottom: 0;
                            width: 100%;

                            .project-detail {
                                position: relative;
                                font-size: 1.1rem;
                                text-transform: capitalize;
                                margin: 0 0 1rem;
                                transform: translate3d(-200px,0,0);
                                opacity: 0;
                                transition: all .3s ease-in-out;
                            }

                            .project-title {
                                position: relative; //this was put there because i did not put any details
                                font-size: 1.8rem;
                                text-transform: uppercase;
                                font-weight: 700;
                                transform: translate3d(-100px,0,0);
                                opacity: 0;
                                transition: all .3s ease-in-out .1s;
                            }
                            .fa-long-arrow-alt-right {
                                position: absolute;
                                bottom: 56px;
                                right: 56px;
                                font-size: 3rem;
                            }
                        }

                    }
                }
                .project-card-3 {
                    position:relative;
                    background: url(../img/meteroid.png) no-repeat center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    height: 400px;
                    padding: 30px;
                    transition: all .5s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        -webkit-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        -moz-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                    }

                    .grey-bg {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: #efefef;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        overflow: hidden;

                        &:hover {
                            opacity: 0.9;
                            .project-info {

                                .project-detail {
                                    transform: translate3d(0,0,0);
                                    opacity: 1;
                                }

                                .project-title {
                                    transform: translate3d(0,0,0);
                                    opacity: 1;
                                }
                            }
                        }

                        .project-info {
                            padding: 56px;
                            position: absolute;
                            bottom: 0;
                            width: 100%;

                            .project-detail {
                                position: relative;
                                font-size: 1.1rem;
                                text-transform: capitalize;
                                margin: 0 0 1rem;
                                transform: translate3d(-200px,0,0);
                                opacity: 0;
                                transition: all .3s ease-in-out;
                            }

                            .project-title {
                                position: relative; //this was put there because i did not put any details
                                font-size: 1.8rem;
                                text-transform: uppercase;
                                font-weight: 700;
                                transform: translate3d(-100px,0,0);
                                opacity: 0;
                                transition: all .3s ease-in-out .1s;
                            }
                            .fa-long-arrow-alt-right {
                                position: absolute;
                                bottom: 56px;
                                right: 56px;
                                font-size: 3rem;
                            }
                        }

                    }
                }
                .project-card-4 {
                    position:relative;
                    background: url(../img/wanderlust.png) no-repeat center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    height: 400px;
                    padding: 30px;
                    transition: all .5s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        -webkit-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        -moz-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                    }

                    .grey-bg {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: #efefef;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        overflow: hidden;

                        &:hover {
                            opacity: 0.9;
                            .project-info {

                                .project-detail {
                                    transform: translate3d(0,0,0);
                                    opacity: 1;
                                }

                                .project-title {
                                    transform: translate3d(0,0,0);
                                    opacity: 1;
                                }
                            }
                        }

                        .project-info {
                            padding: 56px;
                            position: absolute;
                            bottom: 0;
                            width: 100%;

                            .project-detail {
                                position: relative;
                                font-size: 1.1rem;
                                text-transform: capitalize;
                                margin: 0 0 1rem;
                                transform: translate3d(-200px,0,0);
                                opacity: 0;
                                transition: all .3s ease-in-out;
                            }

                            .project-title {
                                position: relative; //this was put there because i did not put any details
                                font-size: 1.8rem;
                                text-transform: uppercase;
                                font-weight: 700;
                                transform: translate3d(-100px,0,0);
                                opacity: 0;
                                transition: all .3s ease-in-out .1s;
                            }
                            .fa-long-arrow-alt-right {
                                position: absolute;
                                bottom: 56px;
                                right: 56px;
                                font-size: 3rem;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .portfolio {

        .menu-icon {
            top:0;
            right: 0;

            .fa {
                color:$color3;
            }
        }

        .info-area {
            padding: 10px 20px;
            position: static;
            .info-box {
                display: none;
            }
             .logo {
                 height: 50px;
                 width: 70px;
                 a {
                     font-size: 1.2rem;
                 }
             }
        }
        .content-area {
            margin-left: 0;
            width:100%;

            .img-container {
                padding: 56px 20px 0;

                .user-img {
                    position: static;
                    width: 100%;
                }
            }
            .profile-section {
                width: 70%;
                float:right;

                .primary-btn {
                    padding: 15px;
                }
            }
        }
    }
 }
@media (min-width: 768px) and (max-width:1280px) {
    .portfolio {

        .info-area {
            .logo {
                height: 80px;
                width: 130px;

                a {
                    font-size: 1.5rem;
                }
            }
        }

        .content-area {
            .img-container {
                padding: 56px 20px 0;

                .user-img {
                    width: 100%;
                }
            }
            .profile-section {
                width: 70%;
                float:right;

            }
        }
    }
}

@media (min-width: 1123px) {
    .portfolio {
        .content-area {
            .img-container {
                padding: 56px 20px 0;

                .user-img {
                    width: 100%;
                }
            }
            .profile-section {
                width: 70%;

            }
        }
    }
}
