.resume {

    .info-area {
        width: 20%;
    }

    .content-area {
        margin-left: 20%;
        background: $color3;
        width: 80%;
        height: 100%;
        padding: 56px;
        overflow-y: scroll;

        .category {
            margin-bottom: 56px;

            h1 {
                font-weight: 700;
                font-size: 2rem;
                text-transform: uppercase;
                margin-bottom: 56px;
            }

            .xp-section {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 56px;
                grid-row-gap: 30px;
                max-width: 1000px ;

                .xp-box {
                    padding: 30px;
                    transition: all .5s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        -webkit-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        -moz-box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                        box-shadow: 0px 20px 20px 2px rgba(15,28,0,0.12);
                    }


                    h5 {
                        font-weight: 500;
                        font-size: 1.3rem;
                        margin-bottom: 1.3rem;
                        text-transform: uppercase;

                    }

                    p {
                        font-weight: 300;
                        font-size: 1rem;
                        margin-top: 0.5rem;
                        &:first-of-type {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .resume {

        .menu-icon {
            top:-3px;
            right: 20px;

            .fa {
                color:$color3;
            }
        }

        .content-area {

            height: auto !important;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

        }

        .info-area {
            padding: 10px 20px;
            position: static;
            .info-box {
                display: none;
            }
            .logo {
                 height: 50px;
                 width: 70px;
                 a {
                     font-size: 1.2rem;
                 }
             }
        }
        .content-area {
            margin-left: 0;
            width: 100%;



            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .img-container {
                width: 100%;
                padding: 56px 20px 0;
                height: auto;

                .user-img {
                    position: static;
                    width: 100%;
                }
            }
            .profile-section {
                width: 70%;
                float:right;

                .primary-btn {
                    padding: 15px;
                }
            }
        }
    }
 }
@media (min-width: 768px) and (max-width:1280px) {
    .resume {

        .info-area {
            .logo {
                height: 80px;
                width: 130px;
                
                a {
                    font-size: 1.5rem;
                }
            }
        }
        .content-area {
            .img-container {
                padding: 56px 20px 0;

                .user-img {
                    width: 100%;
                }
            }

            .profile-section {
                width: 70%;
                float:right;

            }
        }
    }
}

@media (min-width: 1123px) {
    .resume {
        .content-area {
            .img-container {
                padding: 56px 20px 0;

                .user-img {
                    width: 100%;
                }
            }
            .profile-section {
                width: 70%;

            }
        }
    }
}
